# CSE-221710308021-Aniruddh

In [3]:
#1

import pandas as pd
s1=pd.Series([2, 4, 6, 8, 10])
s2=pd.Series([1, 3, 5, 7, 9])
s3=s1+s2
print("adding")
print(s3)
print("subtracting")
s3=s1-s2
print(s3)
print("Multiplying")
s3=s1*s2
print(s3)
print("Dividing")
s3=s1/s2
print(s3)

adding
0     3
1     7
2    11
3    15
4    19
dtype: int64
subtracting
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplying
0     2
1    12
2    30
3    56
4    90
dtype: int64
Dividing
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [7]:
#2

import pandas as pd
import numpy as np
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(10, 4, 20))
print("Original Series:")
print(num_series)
res=np.percentile(num_series, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(res)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

In [14]:
#3

import pandas as pd
sr1=pd.Series([1, 2, 3, 4, 5])
sr2=pd.Series([2, 4, 6, 8, 10])
res=sr1[~sr1.isin(sr2)]
print(res)

0    1
2    3
4    5
dtype: int64

In [4]:
#4

import pandas as pd
from collections import Counter
colors=pd.Series(['Red','Green','Orange','Pink','Yellow','White'])
result = mask = colors.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(colors[result])

1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [17]:
#5

import pandas as pd
import numpy as np
t={'name':['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
    'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
    'attempts':[1,3,2,3,2,3,1,1,2,1],
    'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
label=['a','b','c','d','e','f','g','h','i','j']
df=pd.DataFrame(t,index=label)
print(df[(df['attempts']<2)&(df['score']>15)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes